@page "/Served/edit/{Id}"
@using AppCore.Utilities;
@model App.UI.Pages.Serveds.EditcshtmlModel
@{
    ViewData["Title"] = "تعديل بيانات المخدوم";
}

<div class="container">
    <form class="border border-primary" method="post" enctype="multipart/form-data">
        <h2 class="text-center">تحديث بيانات المخدوم</h2>
        <div class="row ml-4">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="name">الاسم </label>
                    <input type="text" class="form-control" id="name" asp-for="Served.Name">
                </div>
                <input type="hidden" asp-for="Served.Id" />
                <div class="form-group">
                    <label for="class">الفصل</label>
                    <select class="form-control form-control-lg" asp-items="Model.Classes" asp-for="Served.ClassId" id="Served-class">
                    </select>
                </div>
                <div class="form-group">
                    <label for="class">الخادم المسوؤل</label>
                    <select class="form-control form-control-lg" asp-for="Served.ResponsibleServantId" id="responsible-Servant">
                    </select>
                </div>
                <div class="form-group">
                    <label for="phone">رقم التليفون </label>
                    <input type="text" class="form-control" id="phone" asp-for="Served.Phone">
                </div>
                <div class="form-group">
                    <label for="phone">رقم تليفون ولى الامر</label>
                    <input type="text" class="form-control" id="phone" asp-for="Served.HomePhone">
                </div>
                <div class="form-group">
                    <label for="address">العنوان</label>
                    <input type="text" class="form-control" id="address" asp-for="Served.Address">
                </div>
                <div class="form-group">
                    <label for="fatherOfConfession">اب الاعتراف</label>
                    <input type="text" class="form-control" id="fatherOfConfession" asp-for="Served.FatherOfConfession">
                </div>
                <div class="form-group">
                    <label for="birthday">تاريخ الميلاد </label>
                    <input type="date" class="form-control" id="birthday" asp-for="Served.Birthday">
                </div>
                <if is-true='User.IsInRole("SuperAdmin")'>
                    <div class="form-group">
                        <label for="Notes"> ملاحظات </label>
                        <textarea class="form-control" id="Notes" asp-for="Served.Notes"></textarea>
                    </div>
                </if>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="photo">الصورة</label>
                    <div class="card" style="width: 18rem;">
                        <img src="@Model.Served.PhotoPath" class="card-img-top" alt="Current photo">
                    </div>
                    <div class="mt-3">
                        <input type="file" class="form-control-file" id="photo" asp-for="Served.PhotoFile">
                        <small class="form-text text-muted">. من فضلك قم برفع صورة جديدة لتحديث الصورة الحالية</small>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <label for="ServedWeek">الحضور الاسبوعى</label>
                    @foreach (var week in Model.WeeksList)
                    {
                        var isChecked = @Model.Served.ServedWeeks.Where(x => x.WeekId == week.Id).Any();
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="week-@week.Id" asp-for="@Model.ServedWeeksDTO.IsWeekSelected[week.Id]" checked="@(isChecked ? true : false)" value="true">
                            <label class="form-check-label" for="week-@week.Id">
                                @Model.GetFormattedWeekDate(week.Date,Model.Served.Class.Time.Time1)
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-end mb-3 mr-3">
            <button type="submit" class="btn btn-primary">تحديث</button>
        </div>
    </form>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            // Function to load responsible servants based on the selected class ID
            function loadResponsibleServants(classId) {
                if (classId) {
                    // Make an AJAX request to fetch responsible servants
                    $.ajax({
                        url: '/api/responsible-servant/' + classId,
                        type: 'GET',
                        success: function (data) {
                            // Clear existing options in the responsible servant dropdown
                            $('#responsible-Servant').empty();

                            // Add the new options based on the API response
                            $.each(data, function (key, value) {
                                $('#responsible-Servant').append($('<option>', {
                                    value: value.id,
                                    text: value.name
                                }));
                            });

                            // Set the selected option based on Served.ResponsibleServantId
                            var selectedResponsibleServantId = '@Model.Served.ResponsibleServantId';
                            $('#responsible-Servant').val(selectedResponsibleServantId);
                        },
                        error: function () {
                            alert('Error fetching responsible servants');
                        }
                    });
                } else {
                    // If no class is selected, clear the responsible servant dropdown
                    $('#responsible-Servant').empty();
                }
            }

            // Load responsible servants on page load based on the default class ID
            var defaultClassId = $("#Served-class").val();
            loadResponsibleServants(defaultClassId);

            // Event listener for changes in the class dropdown
            $("#Served-class").change(function () {
                var classId = $(this).val();
                loadResponsibleServants(classId);
            });
        });
    </script>
}
