@using MarminaAttendance.Identity;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = UserManager.GetUserAsync(User).Result;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="/assets/vendors/select2/select2.min.css" />
    <link rel="stylesheet" href="/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/custom-css.css" />
    <link rel="stylesheet" href="/lib/toastr.js/toastr.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/all.min.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
    <style>
        body {
            background-color: #F2F2F2;
        }

        .container {
            background-color: #FFFFFF;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin-top: 10px;
        }

    </style>
</head>
<body>
    <div class="container-scroller">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">

            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="nav-profile-image">
                            <img src="/photos/users/@user.Photo" alt="profile" />
                            <span class="login-status online"></span>
                            <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex flex-column pr-3">
                            <span class="font-weight-medium mb-2">@user.UserName</span>

                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/classes/list">
                        <i class="fa-solid fa-church menu-icon"></i>
                        <span class="menu-title">الفصول</span>
                    </a>
                </li>
                <if is-true='!User.IsInRole("Servant")'>
                    <li class="nav-item">
                        <a class="nav-link" href="/servants/list">
                            <i class="fa-solid fa-hand-holding-heart menu-icon"></i>
                            <span class="menu-title">الخدام</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/servants/quick-attendance-registration">
                            <i class="fa-solid fa-wifi menu-icon"></i>
                            <span class="menu-title"> تسجيل حضور سريع للخدام</span>
                        </a>
                    </li>
                </if>
                <li class="nav-item">
                    <a class="nav-link" href="/served/list">
                        <i class="fa-solid fa-hands-holding-child menu-icon"></i>
                        <span class="menu-title">المخدومين</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/served/quick-attendance-registration">
                        <i class="fa-solid fa-wifi menu-icon"></i>
                        <span class="menu-title"> تسجيل حضور سريع للمخدومين</span>
                    </a>
                </li>
                <if is-true='User.IsInRole("SuperAdmin")'>
                    <li class="nav-item">
                        <a class="nav-link" href="/served/upload">
                            <i class="fa-solid fa-upload menu-icon"></i>
                            <span class="menu-title"> رفع بيانات المخدومين</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/account/register">
                            <i class="fa-solid fa-user-plus menu-icon"></i>
                            <span class="menu-title"> اضافة مستخدم جديد</span>
                        </a>
                    </li>

                </if>
                <li class="nav-item sidebar-actions">
                    <div class="nav-link">
                        <div class="mt-4">

                            <ul class="mt-4 pl-0">

                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Account/Logout" asp-route-returnUrl="/Account/Login">
                                        <i class="fa-solid fa-arrow-left"></i>
                                        <span class="menu-title">تسحيل خروج </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
                <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
                    <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="/classes/list"><img src="/assets/images/logo-mini.png" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
                        <i class="mdi mdi-menu"></i>
                    </button>


                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>
            <div class="main-panel">
                @RenderBody()

            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/assets/vendors/select2/select2.min.js"></script>
    <script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <script src="/assets/js/file-upload.js"></script>
    <script src="/assets/js/typeahead.js"></script>
    <script src="/assets/js/select2.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            var message = '@TempData["Message"]';
            var notificationType = '@TempData["NotificationType"]';
            if (message) {
                if (notificationType === "success") {
                    toastr.success(message);
                } else {
                    toastr.error(message);
                }
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>